*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.nav__items{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav__item{
    margin-left: 10px;

}

.main-content{
    
}

.menu{
    background-color: antiquewhite;
}

.content{
    background-color: aquamarine;
}

.aside{

    background-color: brown;
}